body {
    background: rgb(173, 173, 248);
}
header {
    color: rgb(5, 5, 5);
    text-shadow: 2px 2px 2px white;
    text-align: center;
    font: bold 10pt Arial;
}
section {
    font: bold 10pt Arial;
    background: white;
    padding: 15px;
    box-shadow: 2px 2px 4px black;
    border-radius: 10px 10px 10px 10px;
    height: auto;
    width: 400px;
    margin: auto;
}
footer {
    color: rgb(5, 5, 5);
    text-shadow: 1px 1px 1px white;
    text-align: center;
    font: bold 10pt Arial;
}
fieldset {
    width: auto;
}
.btn-style {
    border-radius: 1px 1px 1px 1px;
    height: 30px;
    font: bold 11pt Arial; 
}
#btn-salvar{
    background: rgb(21, 23, 179);
}
#fielddamsg {
    margin-top: 10px;
}
.Zhi {
    font-family: 'Zhi Mang Xing', cursive;
}
.Sigmar {
    font-family: 'Sigmar One', cursive;
}
.Roboto {
    font-family: 'Roboto', sans-serif;
}
.Bebas {
    font-family: 'Bebas Neue', cursive;
}
.RobotoM {
    font-family: 'Roboto Mono', monospace;
}
.figuredog {
    margin: auto;
    padding: 0px;
    text-align: center;
}
fieldset h1 {
    margin: 0px;
    padding: 0px;
}